@{
    Layout = "~/Views/Shared/_ProjectManagerLayout.cshtml";
    ViewData["Title"] = "User Dashboard";
}
<h2>Project Manager Dashboard</h2>
<p>Welcome to your dashboard!! Here you can manage your project and tasks efficiently</p>
